<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if donation_type == "tatvadarshan"%}
    <h1>Adding Tatvadarshan for {{member.first_name}}</h1>
    <form action="/add_donation/tatvadarshan" method="post">
        <input type="hidden" name="member_id" value="{{member.id}}">

        <label for="amount">Amount:</label>
        <input type="text" name="amount">

        <label for="date">Date:</label>
        <input type="date" name="date">

        <label for="method">Method:</label>
        <input type="text" name="method">

        <label for="length">Length:</label>
        <input type="text" name="length">

        <label for="expiry_date">Expiry Date:</label>
        <input type="date" name="expiry_date">

        <label for="notes">Notes:</label>
        <input type="text" name="notes">

        <input type="submit" value="Submit">
    </form>

    {%endif%}

    {%if donation_type == "student_sponsorship"%}
    <h1>Adding Student Sponsorship for {{member.first_name}}</h1>
    <form action="/add_donation/student_sponsorship" method="post">
        <input type="hidden" name="member_id" value="{{member.id}}">

        <label for="amount">Amount:</label>
        <input type="text" name="amount">

        <label for="date">Date:</label>
        <input type="date" name="date">

        <label for="method">Method:</label>
        <input type="text" name="method">

        <label for="length">Length:</label>
        <input type="text" name="length">

        <label for="expiry_date">Expiry Date:</label>
        <input type="date" name="expiry_date">

        <label for="notes">Notes:</label>
        <input type="text" name="notes">

        <input type="submit" value="Submit">
    </form>

    {%endif%}

    {%if donation_type == "donation"%}
    <h1>Adding Donation for {{member.first_name}}</h1>
    <form action="/add_donation/donation" method="post">
        <input type="hidden" name="member_id" value="{{member.id}}">

        <label for="amount">Amount:</label>
        <input type="text" name="amount">

        <label for="date">Date:</label>
        <input type="date" name="date">

        <label for="method">Method:</label>
        <input type="text" name="method">

        <label for="event">Event:</label>
        <input type="text" name="event">

        <label for="notes">Notes:</label>
        <input type="text" name="notes">

        <input type="submit" value="Submit">
    </form>

    {%endif%}
</body>
</html>
</body>
</html>