<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}"> -->

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bootstrap Example</title>
        <!-- load Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

        <!-- Add Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .navbar-brand {
            font-size: 1.5em;
        }

        .navbar {
            background-color: #343a40;
        }

        .navbar-dark .navbar-toggler-icon {
            background-color: #fff;
        }

        .navbar-nav .nav-item a {
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            transition: color 0.3s ease-in;
        }

        .navbar-nav .nav-item a:hover {
            color: #007bff;
        }

        .form-container {
            max-width: 400px;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            font-size: 14px;
            padding: 5px 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='assets/sandipani_logo.png')}}" width="150" height="70" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main_page">Dashboard</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="/new_member">Add Member</a>
                </li>
                {% if session['role'] == "admin" %}
                <li class="nav-item">
                    <a class="nav-link" href="/manage_organizers">Manage Organizers</a>
                </li>
                {% endif %}

                {% if session['role'] == "admin" or session['role'] == "donation_editor" %}
                <li class="nav-item">
                    <a class="nav-link" href="/manage_events">Manage Events</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="/archived_members">Archived Members</a>
                </li>

                {% if session['role'] == "admin" or session['role'] == "donation_editor" %}
                <li class="nav-item">
                    <a class="nav-link" href="/stats">Stats</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <img class="rounded-circle mr-2"
                        src="{{ url_for('static', filename='assets/user.png') }}" width="30" height="30">
                    <span class="navbar-text">{{session['first_name']}}</span>
                </li>
            </ul>
        </div>
    </nav>
    
    

    <div class="container my-3">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between">
                    <!-- Search Form -->
                    <form action="/archived_members" method="post" class="d-flex flex-grow-1">
                        <input class="form-control flex-grow-1 mr-2" type="search" name="query" placeholder="Search Archived Members..." aria-label="Search">
                        <button class="btn btn-outline-success mr-2" type="submit">Search</button>
                    </form>
                    
                    <!-- Show All Members Button -->
                    <a href="/archived_members" class="btn btn-primary">Show All Archived Members</a>
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="container mt-3">
        {% for member in all_archived_members %}
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-between pb-2 border-bottom">
                    <h5 class="card-title mb-0">{{member.first_name}} {{member.last_name}}</h5>
                    <a href="/view_archived_member/{{ member.id }}" class="btn btn-primary">View</a>
                </div>

                <div class="d-flex justify-content-between mt-2">
                    <div>
                        <p class="card-text mb-0"><small class="text-muted">Email:</small> {{member.email}}</p>
                        <p class="card-text"><small class="text-muted">City:</small> {{member.city}}</p>
                    </div>
                    <a href="/unarchive_member/{{ member.id }}" class="btn btn-success">Unarchive Member</a>

                </div>
            </div>
        </div>
        {% endfor %}



    </div>


</body>

</html>