<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">

</head>
<body>
    <nav class="nav">
        <div>
            <h1>Sandipani</h1>
        </div>
        <div>
            <ul id="ul">
                <li id="list_item"><a href="/main_page">Home</a></li>
                <li id="list_item"><a href="/new_member">Add Member</a></li>
            </ul>
        </div>
    </nav>

    <div class="search_bar">
        <form action="/search_member" method="get">
            <input type="text" name="query" placeholder="Search...">
            <input type="submit" value="Search">
        </form>
    </div>
    
    <div class="member_container">
        <div>
            {% for member in all_members %}
                <div class="main_row">
                    <div id="left_section">
                        <p>{{member.first_name}} {{member.last_name}}</p>
                    </div>
    
                    <div id="middle_section">
                        <p>{{member.email}}</p>
                    </div>
                    
                    <div id="right_section">
                        <p>{{member.city}}</p>
                    </div>

                    <div id="button">
                        <button type="button">View</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    
</body>
</html>