<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Member</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .navbar-brand {
            font-size: 1.5em;
        }
        .nav-item a {
            color: #000;
        }
        .nav-item a:hover {
            color: #007bff;
        }
        .row > div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-primary a {
            color: #fff;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sandipani</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/main_page">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/new_member">Add Member</a></li>
                <li class="nav-item">
                    <img class="rounded-circle mr-2" src="{{ url_for('static', filename='assets/user.png') }}" width="30" height="30">
                    <span class="navbar-text">admin</span>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Form -->
    <div class="container my-4">
        <form action="/add_member" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first_name">First name:</label>
                    <input type="text" class="form-control" name="first_name" placeholder="First name" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="middle_name">Middle Name:</label>
                    <input type="text" class="form-control" name="middle_name" placeholder="Middle name">
                </div>
                <div class="form-group col-md-4">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" name="last_name" placeholder="Last name" required>
                </div>
            </div>
            <!--  -->
            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="phone_1">Phone 1:</label>
                    <input type="text" class="form-control" name="phone_1" placeholder="Phone 1">
                </div>
                <div class="form-group col-md-4">
                    <label for="phone_2">Phone 2:</label>
                    <input type="text" class="form-control" name="phone_2" placeholder="Phone 2" required>
                </div>
            </div>
            <!--  -->

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="street_1">Street 1:</label>
                    <input type="text" class="form-control" name="street_1" placeholder="Street 1">
                </div>
                <div class="form-group col-md-6">
                    <label for="street_2">Street 2:</label>
                    <input type="text" class="form-control" name="street_2" placeholder="Street 2">
                </div>
            </div>
            <!--  -->
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" name="city" placeholder="City">
                </div>
                <div class="form-group col-md-4">
                    <label for="state">State:</label>
                    <input type="text" class="form-control" name="state" placeholder="State">
                </div>
                <div class="form-group col-md-4">
                    <label for="zip">Zip code:</label>
                    <input type="text" class="form-control" name="zip" placeholder="Zip code">
                </div>
            </div>
            <!--  -->
            

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="country">Country:</label>
                    <input type="text" class="form-control" name="country" placeholder="country">
                </div>
                <div class="form-group col-md-6">
                    <label for="children">Children:</label>
                    <input type="text" class="form-control" name="children" placeholder="Children">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="spouse">Spouse:</label>
                    <input type="text" class="form-control" name="spouse" placeholder="Spouse">
                </div>
                <div class="form-group col-md-6">
                    <label for="parents">Parents:</label>
                    <input type="text" class="form-control" name="parents" placeholder="Parents">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="notes">Notes:</label>
                    <input type="text" class="form-control" name="notes" placeholder="Notes">
                </div>
                <div class="form-group col-md-6">
                    <label for="email_list">Email list:</label>
                {%for i in range(0, len(email_lists))}
                <input type="text" class="form-control" name="email_list" placeholder="Email List">
                <label for="{{{f'option{i}}}}">{{email_lists[i].type}}:</label>
                <input type="checkbox" id="">
                {%endfor%}
                </div>
            </div>

            <!-- You can add rest of your form fields using the same structure -->

            <button type="submit" class="btn btn-primary mt-3">Add member!</button>
        </form>
    </div>
</body>
</html>
