.navbar-brand {
    font-size: 1.5em;
}

/* .navbar {
    background-color: #343a40;
} */
.navbar {
    background-color: #343a40;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays on top of other content */
}


.navbar-dark .navbar-toggler-icon {
    background-color: #343a40;
}

.navbar-nav .nav-item a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease-in;
}

.navbar-nav .nav-item a:hover {
    color: #007bff;
}

