body {
    font-family: Arial, sans-serif;
    padding-top: 120px; /* slightly more than the navbar height to ensure a small gap */

}

.row>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary a {
    color: #fff;
}